<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trio.passengr" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="trio.passengr.application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBTWvPTHiramkAyq1RfEvndWEsm3elstQ0" />
        <meta-data
            android:name="com.facebook.sdk.614287292039107"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OldMapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_example"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.MainActivity" />
        </activity>

        <!-- Adds the login functionality to our app -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Allows our app to share pictures with facebook (so users can have profiles) -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider614287292039107"
            android:exported="true" />

        <activity
            android:name=".activity.ViewRoutesActivity"
            android:label="@string/title_activity_view_routes"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddTimeInfoActivity"
            android:label="@string/title_activity_add_time_info"
            android:parentActivityName=".activity.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.MapActivity" />
        </activity>
        <activity
            android:name=".activity.AddDateInfoActivity"
            android:label="@string/title_activity_add_date_info"
            android:parentActivityName=".activity.AddTimeInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trio.passengr.activity.AddTimeInfoActivity" />
        </activity>
    </application>

</manifest>
